In [1]:
import pandas as pd

#Adjust the path to where you have saved the data
df = pd.read_csv("data_narrowed.csv")

In [2]:
df.head(20)

,PUF_ID,sample,fpl,FWBscore,FWB1_1,FWB1_2,FWB1_3,FWB1_4,FWB1_5,FWB1_6,...,agecat,generation,PPEDUC,PPETHM,PPGENDER,PPHHSIZE,PPINCIMP,PPMARIT,PPMSACAT,finalwt
0,10350,2,3,55,3,3,3,3,2,3,...,8,1,4,1,1,1,7,3,1,0.367292
1,7740,1,3,51,2,2,3,3,3,4,...,3,3,2,1,1,2,6,3,1,1.327561
2,13699,1,3,49,3,3,3,3,3,3,...,3,3,3,2,1,3,6,3,1,0.835156
3,7267,1,3,49,3,3,3,3,3,3,...,3,3,2,1,1,1,8,3,1,1.410871
4,7375,1,3,49,3,3,3,3,3,3,...,2,4,2,3,1,5,7,1,1,4.260668
5,10910,1,3,67,5,1,1,1,1,1,...,2,4,4,1,1,2,7,1,1,0.760061
6,11079,1,3,51,1,3,2,3,3,3,...,3,3,4,4,2,5,7,1,1,1.370522
7,7741,1,3,47,1,2,4,3,3,3,...,2,4,1,1,2,3,4,4,1,1.193365
8,8303,1,3,43,4,5,2,5,5,2,...,3,3,1,3,2,4,7,1,1,2.497838
9,9688,1,3,58,3,3,2,3,3,3,...,4,3,2,1,1,3,8,1,1,1.266602
10,13180,1,3,78,5,5,1,5,5,1,...,1,4,3,1,1,5,6,1,1,0.937912
11,10127,1,3,62,4,3,2,5,2,2,...,6,2,4,1,2,2,8,1,0,0.745163
12,7852,1,2,50,3,4,3,3,4,3,...,1,4,3,1,2,4,3,4,1,1.292576
13,7376,1,3,40,2,2,4,2,4,4,...,2,4,4,1,1,3,9,4,1,1.140934
14,8304,1,3,61,5,4,2,5,2,3,...,2,4,5,1,1,3,9,1,1,0.810600
15,11726,1,1,69,4,4,1,4,1,1,...,2,4,1,4,1,5,2,5,1,4.283985
16,11221,1,1,37,1,1,4,1,5,4,...,1,4,2,1,1,5,1,4,1,1.025192
17,8121,1,3,52,3,3,2,3,3,3,...,1,4,3,1,2,2,3,1,1,1.045181
18,8122,1,3,69,4,4,3,4,1,3,...,7,1,5,1,1,2,9,1,1,0.495053
19,12990,2,2,67,2,3,1,3,3,1,...,6,2,2,2,2,1,2,3,1,0.866999

In [3]:
#Map values
df = df.replace({"sample":{
  1: "General population",
  2: "Age 62+ oversample",
  3: "Race/ethnicity and poverty oversample"
},
"fpl":{
  1: "<100% FPL",
  2: "100%-199% FPL",
  3: "200%+ FPL"
},
"FWBscore":{
  -4: "Response not written to database",
  -1: "Refused"
},
"FWB1_1":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Not at all",
  2: "Very little",
  3: "Somewhat",
  4: "Very well",
  5: "Completely"
},
"FWB1_2":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Not at all",
  2: "Very little",
  3: "Somewhat",
  4: "Very well",
  5: "Completely"
},
"FWB1_3":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Not at all",
  2: "Very little",
  3: "Somewhat",
  4: "Very well",
  5: "Completely"
},
"FWB1_4":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Not at all",
  2: "Very little",
  3: "Somewhat",
  4: "Very well",
  5: "Completely"
},
"FWB1_5":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Not at all",
  2: "Very little",
  3: "Somewhat",
  4: "Very well",
  5: "Completely"
},
"FWB1_6":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Not at all",
  2: "Very little",
  3: "Somewhat",
  4: "Very well",
  5: "Completely"
},
"FWB2_1":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Never",
  2: "Rarely",
  3: "Sometimes",
  4: "Often",
  5: "Always"
},
"FWB2_2":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Never",
  2: "Rarely",
  3: "Sometimes",
  4: "Often",
  5: "Always"
},
"FWB2_3":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Never",
  2: "Rarely",
  3: "Sometimes",
  4: "Often",
  5: "Always"
},
"FWB2_4":{
  -4: "Response not written to database",
  -1: "Refused",
  1: "Never",
  2: "Rarely",
  3: "Sometimes",
  4: "Often",
  5: "Always"
},
"FSscore":{
  -1: "Refused"
},
"HOUSING":{
  -1: "Refused",
  1: "I own my home",
  2: "I rent",
  3: "I do not currently own or rent"
},
"HOUSERANGES":{
  -1: "Refused",
  1: "Less than $300",
  2: "$300-499",
  3: "$500-749",
  4: "$750-999",
  5: "$1,000-1,499",
  6: "$1,500-1,999",
  7: "$2,000 or more",
  98: "I dont know",
  99: "Prefer not to say"
},
"SAVINGSRANGES":{
  -1: "Refused",
  1: "0",
  2: "$1-99",
  3: "$100-999",
  4: "$1,000-4,999",
  5: "$5,000-19,999",
  6: "$20,000-74,999",
  7: "$75,000 or more",
  98: "I dont know",
  99: "Prefer not to say"
},
"PRODHAVE_1":{
  0: "No",
  1: "Yes"
},
"PRODHAVE_3":{
  0: "No",
  1: "Yes"
},
"PRODHAVE_4":{
  0: "No",
  1: "Yes"
},
"PRODHAVE_5":{
  0: "No",
  1: "Yes"
},
"PRODUSE_1":{
  0: "No",
  1: "Yes"
},
"PRODUSE_2":{
  0: "No",
  1: "Yes"
},
"PRODUSE_5":{
  0: "No",
  1: "Yes"
},
"CONSPROTECT1":{
  -1: "Refused",
  1: "Never",
  2: "Rarely",
  3: "Sometimes",
  4: "Often"
},
"MATHARDSHIP_1":{
  -1: "Refused",
  1: "Never",
  2: "Sometimes",
  3: "Often"
},
"MATHARDSHIP_2":{
  -1: "Refused",
  1: "Never",
  2: "Sometimes",
  3: "Often"
},
"MATHARDSHIP_3":{
  -1: "Refused",
  1: "Never",
  2: "Sometimes",
  3: "Often"
},
"MATHARDSHIP_4":{
  -1: "Refused",
  1: "Never",
  2: "Sometimes",
  3: "Often"
},
"MATHARDSHIP_5":{
  -1: "Refused",
  1: "Never",
  2: "Sometimes",
  3: "Often"
},
"MATHARDSHIP_6":{
  -1: "Refused",
  1: "Never",
  2: "Sometimes",
  3: "Often"
},
"REJECTED_1":{
  -1: "Refused",
  0: "No",
  1: "Yes"
},
"ABSORBSHOCK":{
  -1: "Refused",
  1: "I am certain I could not come up with $2,000",
  2: "I could probably not come up with $2,000",
  3: "I could probably come up with $2,000",
  4: "I am certain I could come up with the full $2,000",
  8: "I dont know"
},
"SHOCKS_1":{
  0: "No",
  1: "Yes"
},
"SHOCKS_3":{
  0: "No",
  1: "Yes"
},
"HEALTH":{
  -1: "Refused",
  1: "Poor",
  2: "Fair",
  3: "Good",
  4: "Very good",
  5: "Excellent"
},
"agecat":{
  1: "18-24",
  2: "25-34",
  3: "35-44",
  4: "45-54",
  5: "55-61",
  6: "62-69",
  7: "70-74",
  8: "75+"
},
"generation":{
  1: "Pre-Boomer",
  2: "Boomer",
  3: "Gen X",
  4: "Millennial"
},
"PPEDUC":{
  1: "Less than high school",
  2: "High school degree/GED",
  3: "Some college/Associate",
  4: "Bachelors degree",
  5: "Graduate/professional degree"
},
"PPETHM":{
  1: "White, Non-Hispanic",
  2: "Black, Non-Hispanic",
  3: "Other, Non-Hispanic",
  4: "Hispanic"
},
"PPGENDER":{
  1: "Male",
  2: "Female"
},
"PPHHSIZE":{
  1: "1",
  2: "2",
  3: "3",
  4: "4",
  5: "5+"
},
"PPINCIMP":{
  1: "Less than $20,000",
  2: "$20,000 to $29,999",
  3: "$30,000 to $39,999",
  4: "$40,000 to $49,999",
  5: "$50,000 to $59,999",
  6: "$60,000 to $74,999",
  7: "$75,000 to $99,999",
  8: "$100,000 to $149,999",
  9: "$150,000 or more"
},
"PPMARIT":{
  1: "Married",
  2: "Widowed",
  3: "Divorced/Separated",
  4: "Never married",
  5: "Living with partner"
},
"PPMSACAT":{
  0: "Non-Metro",
  1: "Metro"
}})

In [4]:
df.head(20)

,PUF_ID,sample,fpl,FWBscore,FWB1_1,FWB1_2,FWB1_3,FWB1_4,FWB1_5,FWB1_6,...,agecat,generation,PPEDUC,PPETHM,PPGENDER,PPHHSIZE,PPINCIMP,PPMARIT,PPMSACAT,finalwt
0,10350,Age 62+ oversample,200%+ FPL,55,Somewhat,Somewhat,Somewhat,Somewhat,Very little,Somewhat,...,75+,Pre-Boomer,Bachelors degree,"White, Non-Hispanic",Male,1,"$75,000 to $99,999",Divorced/Separated,Metro,0.367292
1,7740,General population,200%+ FPL,51,Very little,Very little,Somewhat,Somewhat,Somewhat,Very well,...,35-44,Gen X,High school degree/GED,"White, Non-Hispanic",Male,2,"$60,000 to $74,999",Divorced/Separated,Metro,1.327561
2,13699,General population,200%+ FPL,49,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,...,35-44,Gen X,Some college/Associate,"Black, Non-Hispanic",Male,3,"$60,000 to $74,999",Divorced/Separated,Metro,0.835156
3,7267,General population,200%+ FPL,49,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,...,35-44,Gen X,High school degree/GED,"White, Non-Hispanic",Male,1,"$100,000 to $149,999",Divorced/Separated,Metro,1.410871
4,7375,General population,200%+ FPL,49,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,...,25-34,Millennial,High school degree/GED,"Other, Non-Hispanic",Male,5+,"$75,000 to $99,999",Married,Metro,4.260668
5,10910,General population,200%+ FPL,67,Completely,Not at all,Not at all,Not at all,Not at all,Not at all,...,25-34,Millennial,Bachelors degree,"White, Non-Hispanic",Male,2,"$75,000 to $99,999",Married,Metro,0.760061
6,11079,General population,200%+ FPL,51,Not at all,Somewhat,Very little,Somewhat,Somewhat,Somewhat,...,35-44,Gen X,Bachelors degree,Hispanic,Female,5+,"$75,000 to $99,999",Married,Metro,1.370522
7,7741,General population,200%+ FPL,47,Not at all,Very little,Very well,Somewhat,Somewhat,Somewhat,...,25-34,Millennial,Less than high school,"White, Non-Hispanic",Female,3,"$40,000 to $49,999",Never married,Metro,1.193365
8,8303,General population,200%+ FPL,43,Very well,Completely,Very little,Completely,Completely,Very little,...,35-44,Gen X,Less than high school,"Other, Non-Hispanic",Female,4,"$75,000 to $99,999",Married,Metro,2.497838
9,9688,General population,200%+ FPL,58,Somewhat,Somewhat,Very little,Somewhat,Somewhat,Somewhat,...,45-54,Gen X,High school degree/GED,"White, Non-Hispanic",Male,3,"$100,000 to $149,999",Married,Metro,1.266602
10,13180,General population,200%+ FPL,78,Completely,Completely,Not at all,Completely,Completely,Not at all,...,18-24,Millennial,Some college/Associate,"White, Non-Hispanic",Male,5+,"$60,000 to $74,999",Married,Metro,0.937912
11,10127,General population,200%+ FPL,62,Very well,Somewhat,Very little,Completely,Very little,Very little,...,62-69,Boomer,Bachelors degree,"White, Non-Hispanic",Female,2,"$100,000 to $149,999",Married,Non-Metro,0.745163
12,7852,General population,100%-199% FPL,50,Somewhat,Very well,Somewhat,Somewhat,Very well,Somewhat,...,18-24,Millennial,Some college/Associate,"White, Non-Hispanic",Female,4,"$30,000 to $39,999",Never married,Metro,1.292576
13,7376,General population,200%+ FPL,40,Very little,Very little,Very well,Very little,Very well,Very well,...,25-34,Millennial,Bachelors degree,"White, Non-Hispanic",Male,3,"$150,000 or more",Never married,Metro,1.140934
14,8304,General population,200%+ FPL,61,Completely,Very well,Very little,Completely,Very little,Somewhat,...,25-34,Millennial,Graduate/professional degree,"White, Non-Hispanic",Male,3,"$150,000 or more",Married,Metro,0.810600
15,11726,General population,<100% FPL,69,Very well,Very well,Not at all,Very well,Not at all,Not at all,...,25-34,Millennial,Less than high school,Hispanic,Male,5+,"$20,000 to $29,999",Living with partner,Metro,4.283985
16,11221,General population,<100% FPL,37,Not at all,Not at all,Very well,Not at all,Completely,Very well,...,18-24,Millennial,High school degree/GED,"White, Non-Hispanic",Male,5+,"Less than $20,000",Never married,Metro,1.025192
17,8121,General population,200%+ FPL,52,Somewhat,Somewhat,Very little,Somewhat,Somewhat,Somewhat,...,18-24,Millennial,Some college/Associate,"White, Non-Hispanic",Female,2,"$30,000 to $39,999",Married,Metro,1.045181
18,8122,General population,200%+ FPL,69,Very well,Very well,Somewhat,Very well,Not at all,Somewhat,...,70-74,Pre-Boomer,Graduate/professional degree,"White, Non-Hispanic",Male,2,"$150,000 or more",Married,Metro,0.495053
19,12990,Age 62+ oversample,100%-199% FPL,67,Very little,Somewhat,Not at all,Somewhat,Somewhat,Not at all,...,62-69,Boomer,High school degree/GED,"Black, Non-Hispanic",Female,1,"$20,000 to $29,999",Divorced/Separated,Metro,0.866999

In [6]:
df.to_csv("data_text.csv",index=False)

In [1]:
# Using the data with text values, group and summarize for plotting

import pandas as pd

df_text = pd.read_csv("data_text.csv")

#df["a"] = pd.to_numeric(df["a"])

df_text.head()

,PUF_ID,sample,fed_poverty,fwb_score,fwb1_handle_expense,fwb2_secure_future,fwb3_things_i_want,fwb4_enjoy_life,fwb5_just_getting_by,fwb6_worried_savings,...,age_category,generation,education,ethnicity,gender,household_size,household_income,marital_status,MSA_status,final_weight
0,10350,Age 62+ oversample,200%+ FPL,55,Somewhat,Somewhat,Somewhat,Somewhat,Very little,Somewhat,...,75+,Pre-Boomer,Bachelors degree,"White, Non-Hispanic",Male,1,"$75,000 to $99,999",Divorced/Separated,Metro,0.367292
1,7740,General population,200%+ FPL,51,Very little,Very little,Somewhat,Somewhat,Somewhat,Very well,...,35-44,Gen X,High school degree/GED,"White, Non-Hispanic",Male,2,"$60,000 to $74,999",Divorced/Separated,Metro,1.327561
2,13699,General population,200%+ FPL,49,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,...,35-44,Gen X,Some college/Associate,"Black, Non-Hispanic",Male,3,"$60,000 to $74,999",Divorced/Separated,Metro,0.835156
3,7267,General population,200%+ FPL,49,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,...,35-44,Gen X,High school degree/GED,"White, Non-Hispanic",Male,1,"$100,000 to $149,999",Divorced/Separated,Metro,1.410871
4,7375,General population,200%+ FPL,49,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,Somewhat,...,25-34,Millennial,High school degree/GED,"Other, Non-Hispanic",Male,5+,"$75,000 to $99,999",Married,Metro,4.260668

In [2]:
ethnicity = df_text.groupby(['ethnicity'])

ethnicity_count = ethnicity['PUF_ID'].count()

ethnicity_df = pd.DataFrame({"Count":ethnicity_count})

ethnicity_df.head(30)

                     Count
ethnicity
Black, Non-Hispanic    685
Hispanic               875
Other, Non-Hispanic    336
White, Non-Hispanic   4498

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001C016922860>